@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #c850c0, #4158d8);
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
}

.menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background: linear-gradient(-135deg, #c850c0, #4158d8);
    border-radius: 50%;
    color: #fff;
    transition: all 0.3s ease;
}

#active:checked ~ .wrapper {
    clip-path: circle(75%);
}

#active:checked ~ .menu-btn {
    background: #fff;
    color: #4158d8;
}

#active:checked ~ .menu-btn i:before {
    content: "\f00d";
}

.wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 15px 0;
}

.wrapper ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 50px;
    position: relative;
}

.wrapper ul li a:after {
    content: "";
    left: 0;
    border-radius: 50px;
    position: absolute;
    height: 50px;
    width: 100%;
    background: #fff;
    transform: scaleY(0);
    z-index: -1;
    line-height: 50px;
    transition: all 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #c850c0;
}



