*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{

    color: #2c2c2c;
    min-width: 600px;
    height: 100%;
    background: white;
    font-family: sans-serif;
}

#timeline {
    padding-top: 5%;
}

.timeline{
    height: 100%;
    position: relative;
}

.timeline canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.timeline figcaption{
    font-weight: 400;
    font-family: sans-serif;
    font-size: 24px;
    text-transform: uppercase;

}

.timeline h2{
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 100px;
    color: #b2cde9;
    font-family: sans-serif;
    text-transform: uppercase;
}

.timeline h6{
    color: #0090f5;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.timeline p{
    font-weight: 400;
    font-family: sans-serif;
    padding: 3px 0 20px 0;
    color: #575757;
    text-align: justify;
    width: 70%;
}

.timeline figure{
    float: right;
    width: 100%;
}

.timeline article{
    position: relative;
    width: 38%;
    overflow: hidden;
    margin-bottom: 100px;
}

.timeline article:first-of-type {
    float: left;
    text-align: right;
}

.timeline article:first-of-type p,
.timeline article:first-of-type figure{
    float: right;
}


.timeline article:last-of-type{
    float: right;
}

.timeline article:last-of-type h2{
    color: #c6e0aa;
}

.timeline article:last-of-type h6,
.timeline article:last-of-type a{
    color: #c6e0aa;
}

.timeline article:last-of-type a:hover{
    color: #95d40d;
}













