*{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(250,220,250);
    transition: 1s;
}
